@function rem($pixels, $context: 16px) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

// Responsive design mixins
@mixin respond-max($breakpoint) {
	$max-width: $breakpoint - 1px;

	@media screen and (max-width: $max-width) {
		@content;
	}
}

@mixin respond-min($breakpoint) {
	$min-width: $breakpoint;

	@media screen and (min-width: $min-width) {
		@content;
	}
}

@mixin respond-min-max($breakpoint-min, $breakpoint-max) {
	$min-width: $breakpoint-min;
	$max-width: $breakpoint-max - 1px;

	@media screen and (min-width: $min-width) and (max-width: $max-width) {
		@content;
	}
}
