// Colors

$co-dark-1: rgb(0, 0, 0);
$co-dark-2: rgb(3, 2, 2);

$co-light-1: rgb(255, 255, 255);
$co-light-2: rgb(249, 249, 249);

$co-grey-1: rgb(137, 137, 137);

// Font family

$ff-sans: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;