.header {
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 700;
  }

  .nav {
    &__link {
      color: $co-grey-1;

      &:hover {
        color: $co-dark-2;
      }
    }
  }
}